default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  username:
  password:

development:
  <<: *default
  database: ruby_music_01_development
test:
  <<: *default
  database: ruby_music_01_test
# You can use this database configuration with:
#
#   production:
#     url: <%= ENV['DATABASE_URL'] %>
#
production:
  <<: *default
