<div class="text-center text-white">
  <h4 class="font-italic">
    My Buyeds Songs
  </h4>
</div>
<div class= "justify-content min-height">
  <% if @songs.present? %>
    <ul>
      <%= render partial: "songs/song", collection: @songs, as: :song %>
    </ul>
    <%= paginate @songs, theme: "twitter-bootstrap-4" %>
  <% else %>
    <h5 class="text-white font-italic">
      <%= t ".not_found" %>
    </h5>
  <% end %>
</div>
